body{
  padding:50px;
  font-family : 'Ubuntu';
}
.status-section{
  width : 50%;
  border:1px solid #666;
}
.header-section{  
  padding: 25px;
  position: relative;
  color : #FFF;
  background-color : #666;
  border : 1px solid #666;
}
.header-section h2{
  text-transform:UPPERCASE;
}
.availability{
  position : absolute;
  right : 0;
  bottom : 6px;
}
.availability ul li{
  border : 1px solid #777;
  margin : 5px;
  padding : 2px;
  transition:all 0.1s ease-in-out;
}
.availability ul li:hover{
  cursor : pointer;
  border : 1px solid #337ab7;
  transform : scale(1.1,1.2);
}
.all-icon{
  color : #777;
}
.online-icon{
  color : green;
}
.offline-icon{
  color : orange;
}
.active{
  border : 1px solid #337ab7 !important;
}
img{
  width : 60px;
  height : 40px;
}
/* All streamers */
.results-section .closed-section{  
  text-align : center;
  margin : 2%;
  vertical-align : middle;
  padding : 20px;
  background-color: khaki;
  border-bottom :1px solid #777;
}
.results-section .closed-section a{
   color : #333;
  vertical-align : middle;
  line-height : 30px;
}
.results-section .closed-section span{
  padding-left : 5%;
  vertical-align : middle;
  line-height : 30px;
}
/* Online streamers */
.results-section .online-section{
  margin : 2%;  
  padding : 20px;
  text-align : center;  
  vertical-align : middle;  
  background-color: cornflowerblue;
  border-bottom :1px solid #777;
}
.results-section .online-section a{
  color : #FFF;
  vertical-align : middle;
  line-height : 30px;
}
.results-section .online-section span{
  padding-left:5%;
  vertical-align : middle;
  line-height : 30px;
  color : #FFF;
}
/* offline streamers */
.results-section .offline-section{  
  text-align : center;
  margin : 2%;
  vertical-align : middle;
  padding : 20px;
  background-color: burlywood;
  border-bottom :1px solid #777;
}
.results-section .offline-section a{
   color : #333;
  vertical-align : middle;
  line-height : 30px;
}
.results-section .offline-section span{
  padding-left:5%;
  vertical-align : middle;
  line-height : 30px;
}

@media (max-width:800px){
  ul#menu li{
    display : inline-block;
    float : left;
  }
}